<div class="content-container">
  <div class="inner-container">
    <input type="search" placeholder="{{ 'general.search.placeholder' | translate }}" class="form-input"
      [formControl]="searchInput" (input)="onInputChange($event)" (focus)="showKeyboard($event)"
      (blur)="hideKeyboard($event)" />

    <ng-container *ngIf="residents$ | async as residents">
      <table>
        <thead>
          <tr>
            <th>{{ 'resident.search.flat' | translate }}</th>
            <th class="name">{{ 'resident.search.name' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resident of residents" (click)="onSelect(resident)">
            <td>{{ resident.flatNumber }}</td>
            <td class="name">{{ resident.fullName }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
